@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Finger Paint', cursive !important; 
    color: #000000;
  }
  
  html, body{
    height: 100%;
    overflow: hidden;
    width: 100%;    
    background-color: #eaeaea;
    background-image: linear-gradient(315deg, #eaeaea 0%, #d7e1ec 74%);

  }

  .hideall *{
    display: none;
  }

  .hide{
    display: none;
  }

  #preloader{
    background: #eaeaea url(animation_500_l0ceweu9.gif) no-repeat center center;
    background-size: 25%;
    height: 100vh;
    width: 100%;
    z-index: 100000000000;
  }

.sideImage{
  width: 107%;
  height: 70%;
  margin: -100px;
  padding: 0;
}